xterm*locale: true
xterm.utf8: true
xterm*utf8Title: true
xterm*background: black
xterm*foreground: white
xterm*scaleHeight: 1.10
xterm*faceName: DejaVu Sans Mono:pixelsize=14
xterm*faceNameDoublesize: WenQuanYi Zen Hei:pixelsize=15
xterm*inputMethod:fcitx
xterm*SaveLines: 9999
